# Python / Django
__pycache__/
*.py[cod]
*.class
*.so
.Python
.venv/
.env
*.env
*.pyc
*.pyo
*.pyd

# База даних
db.sqlite3
db.sqbpro

# Медіа та статика
media/
staticfiles/

# IDE / PyCharm
.idea/
*.iml
*.iws

# ОС сміття
.DS_Store
Thumbs.db

# Велика модель
models/trained_fitness_model.pkl
